@import "tailwindcss";

@theme {
  --color-pink-light: #FFFDFD;
  --color-pink-dark: #BC78C2;
  --color-pink-darker: #AB50A7;
  --color-cream: #FFFAFA;

  --font-main: "Inter", sans-serif;
  --font-main-bold: "Inter", sans-serif;
  --font-accent: "Instrument Serif", serif;
  --font-accent-italic: "Instrument Serif", serif;
}

/* fonts */

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}